/* Whitworth Composition Commons Official Color Scheme:
 #BCB3B8 (grey) , #022855 (navy blue) , #FDB958 (light orange) */

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
th, td{
	padding: 5px;
	width: 51px;
	height: 35px;
}
th{
	background-color:#4B484A;
	color: #fff;
}
.notWorking{
	background-color: #847D81;
}
.booked{
	background-color: #022855;
}
.available{
	background-color: white;
	color: white;
}
.available:hover:{
	background-color: #FDB958;
}
h1{
	width: 800px;
}
h4{
	margin-left: 200px;
}
nav ul {
/* dark menu background */
background-color: #4B484A;
/* remove default style for ul */
list-style: none;
/* each ul should be in a block */
display: inline-block;
/* expand to width of parent container */
width: 100%;
/* should render on top of everything else */
z-index: 99;
}

/* hide all submenus. */
nav ul ul {
display: none;
}

/* remove default margins and padding
for our body, ul and li elements
you likely will want to remove
defaults for other elements too
in the future. */
body, ul, li {
margin: 0;
padding: 0;
border: 0;
}

/* let's float the elements so they appear
inline with relative positioning and as
far to the left as possible */
nav ul li {
float:left;
position:relative;
background:none;
}

/*make the menu look nicer*/
nav ul li a{
	display:block;
	padding:25px 40px;
	color:#fff;
	text-decoration:none;
}

/* a CSS pseudo class that will activate when
the mouse is "hovering" over a list item in
the top level of the nav menu. */
nav ul li:hover a {
color: #fff;
}

/* Display a submenu if we hover
over a parent */
nav ul li:hover > ul {
display: block;
}

/* Remove float for submenus, and make
them relatively positioned */
nav ul ul li {
float: none;
position: relative;
/** border-top: 1px solid #6b727c;
border-bottom: 1px solid #575f6a; /**/
}

/* Remove our submenu from the normal
flow of layout when the client
draws the web page.
use absolute positioning. */
nav ul ul {
background: #355377;
border-radius: 0px;
position: absolute;
}

/* position our sub-submenus to the
right of the submenu dropdown. */
nav ul ul ul {
position: absolute;
left: 100%;
top:0;
}

/* adjust the padding and color of a
sub sub menu item */
nav ul ul li a {
padding: 15px 15px 15px 15px;
color: #fff;
}
/* change background color on a
sub sub menu item when hover */
nav ul ul li a:hover {
background: #4b545f;
}